.a {
    color: red;
}

.b {
    display: block;
}

.c {
    position: absolute;
}

.a {
    position: fixed;
}

@media min-width(500px) {
    .b {
        display: inline;
    }
}

@media min-width(600px) {
    .b {
        display: static;
    }
}

@media min-width(500px) {
    .b {
        background: green;
    }
}

.c {
    position: static;
}
